*{
	padding:0px;
	margin:0px;
	
}

.memContain{
	width:100%;
	padding:10px;
	display: flex;
	justify-content:center;
	align-items: center;   
}

body{
	background:linear-gradient(80deg,white,dodgerblue);
	height:100vh; 
}

section{
	display:grid;
	grid-template-columns:repeat(4,6rem); 
	grid-template-rows:repeat(4,6rem);
	grid-gap:1rem; 
	box-shadow:8px 8px 8px rgba(0,0,0,0.5);
	border-radius:6px; 
    perspective:800px; 
}

.card{
	position:relative; 
	transform-style:preserve-3d; 
	transition:all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
	box-shadow:8px 8px 8px rgba(0,0,0,0.5);
}

.face, .back{
	width:100%;
	height:100%;
	padding:10px; 
	pointer-events:none; /* use to prevent e.target on face n back n focuses on card
	wen card is clicked */ 
}

.back{
	background:deeppink;
	position:absolute; 
	backface-visibility: hidden;
}


/*this was for animation*/
.toggleCards{
	transform:rotateY(180deg); 
}
